*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#intro{
    height: 100vh;
    background: rgb(223, 216, 216);
}

/* hamburger section */
.hamburger{
    float: right;
    margin: 10px;
    padding: 10px;
}
.hamburger .line{
    height: 0.3rem;
    width: 2.5rem;
    background-color: black;
    display: block;
    margin: 0.3rem; 
}
.hamburger.active .line:nth-child(1){
    transform:translateY(0.6rem) rotate(-45deg)
}

.hamburger.active .line:nth-child(2){
    display: none;
}
.hamburger.active    .line:nth-child(3){
    transform: translateX(-0.1rem) rotate(45deg)
}

/* end of hamburger */

.intro-container{
    position: relative;
    top: 250px;
    text-align: center;
}
.intro-text{

    
}
.intro-text h1{
    font-size: 3em;
}
.intro-text h5{
    font-size: 1.5em;
}
.hire-me{
    padding: 5px;
    width: 120px;
    margin: 0px auto;
    background-color: black;
}
.link-hireme{
    text-decoration: none;
    font-size: 1.5em;
    color: aliceblue;
}
.hire-me:hover{
    background-color: rgba(65, 56, 56, 0.6);
}

/* end of intro */

/* start of about me section */
.aboutme-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
}

.aboutme-text h1{
    font-size: 2em;
}
.about-me-image img{
  width: 100%;
  /* max-width: 00px; */
  height: auto;

}
.cv-link{
    padding: 10px;
    margin: 15px;
    width: 15%;
    margin: 0px auto;
    background-color: black;
}
.cv-link  a{
    text-decoration: none;
    color: aliceblue;
}

.cv-link:hover{
    background-color: rgba(65, 56, 56, 0.6);
}
/* end of about me */

/* my works section */

#my-works{
    background-color: rgba(245, 222, 222, 0.13);
}

#my-works h1{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
.my-works-container{
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-grow: 0.5;
}
.my-works-container .works{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgba(141, 130, 130, 0.13);
    /* text-align: center; */
    
}
.my-works-container .works .image-works{
  width: 100%;
}
.image-works img{
    width: 100%;
}
/* end of my work section */

/* start of my skill section */
#myskill{
    text-align: center;
    background-color: aliceblue;
}
#myskill h1{
    padding: 10px;
    margin: 10px;
    font-size: 2em;
}
.skill-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.skill{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.3s;
}
.skill:hover{
    background-color: rgba(65, 56, 56, 0.6);
}
.skill p{
    font-size: 2em;
}

/* end of my skill */

/* start of my services */

#service{
    text-align: center
}
#service h1{
    font-size:2em;
    margin: 10px;
    padding: 10px;

}

.services-container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.services-container .services{
    margin: 10px;
    padding: 10px;
    height: 300px;
    background-color: rgba(141, 130, 130, 0.13);
    box-shadow: 2px 2px 2px 2px black;   
    transition: all 0.3s; 
}
 .services:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
/* end of services section */

/*start of blog section */

#myblog-section{
    padding: 10px;
    margin: 10px;
}
#myblog-section h1{
    font-size: 2em;
    text-align: center;
} 
.post-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    transition: all 0.3s;
}
.post{
    margin: 10px;
    padding: 10px;
    background-color: rgba(129, 120, 120, 0.2);
}
.post-image img{
    width: 100%;
}
.post:hover{
    background-color: rgba(0,0,0,0.2);
}

.post-title{
    font-size: 1em;
    margin: 5px;
    padding: 5px;
}
.post-desc{
    margin: 5px;
    padding: 5px;
}
.post-read-more{
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}
.post-read-more a{
    text-decoration: none;
    font-size: 1em;
    color: aqua;
}
.post-read-more:hover{
    background-color: rgba(0,0,0,0.2);
}
/* end of blog section */

/* start of client section */

#client-say{
    margin: 10px;
    padding: 10px;

}
#client-say h1{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}
.client-container{
    display: flex;
    justify-content: center;
}

.client{
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
.client span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
}
.client-info{
    margin: 10px;
    display: flex;
    justify-content:flex-end;
    background-color: whitesmoke;  
}
.client-name{
    margin-top: 18px;
    margin-right: 10px;

}

/* end of client sectioon */
