*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#intro{
    height: 100vh;
    background: rgb(223, 216, 216);
}

/* hamburger section */
.hamburger{
    float: right;
    margin: 10px;
    padding: 10px;
}
.hamburger .line{
    height: 0.3rem;
    width: 2.5rem;
    background-color: black;
    display: block;
    margin: 0.3rem; 
}
.hamburger.active .line:nth-child(1){
    transform:translateY(0.6rem) rotate(-45deg)
}

.hamburger.active .line:nth-child(2){
    display: none;
}
.hamburger.active    .line:nth-child(3){
    transform: translateX(-0.1rem) rotate(45deg)
}

/* end of hamburger */

/* menu */
/* .menu-items{
    display: none;
}

ul{
   width: 50%;
   margin: 0px auto;
}
ul li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li:hover{
    background-color: rgba(0,0,0,0.2);
} */
/* intro section starts */
.intro-container{
    position: relative;
    top: 250px;
    text-align: center;
}

.intro-text h1{
    font-size: 3em;
}
.intro-text h5{
    font-size: 1.5em;
}
.hire-me{
    padding: 5px;
    width: 120px;
    margin: 0px auto;
    background-color: black;
}
.link-hireme{
    text-decoration: none;
    font-size: 1.5em;
    color: aliceblue;
}
.hire-me:hover{
    background-color: rgba(65, 56, 56, 0.6);
}

/* end of intro */

/* start of about me section */
#about-me{
    height: 100vh;
}
.aboutme-container{
    padding: 10px;
    margin: 10px;
    display: flex;
    
}
.aboutme-text{
    text-align: center;
}

.aboutme-text h1{
    font-size: 2.5em;
}
.aboutme-text p{
    margin: 10px;
    padding: 10px;
    font-size: 2em;

}
.about-me-image img{
  height: 600px;

}
.cv-link{
    padding: 5px;
    margin: 15px;
    width: 120px;
    margin: 0px auto;
    background-color: black;
}
.cv-link  a{
    text-decoration: none;
    color: aliceblue;
}

.cv-link:hover{
    background-color: rgba(65, 56, 56, 0.6);
}
/* end of about me */

/* my works section */

#my-works{
    /* background-color: rgba(245, 222, 222, 0.13); */
    background-color:rgb(223, 216, 216);
    margin: 10px;
}

#my-works h1{
    text-align: center;
    font-size: 2em;
    padding: 10px;
}
.my-works-container{
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-grow: 0.5;
}
.my-works-container .works{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgba(141, 130, 130, 0.13);
    /* text-align: center; */
    
}
.my-works-container .works .image-works{
  width: 100%;
}
.image-works img{
    width: 100%;
}
/* end of my work section */

/* start of my skill section */
#myskill{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}
#myskill h1{
    padding: 10px;
    margin: 10px;
    font-size: 2em;
}
.skill-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.skill{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    
    transition: all 0.3s;
}
.skill:hover{
    background-color: rgba(65, 56, 56, 0.6);
}
.skill p{
    font-size: 2em;
}

/* end of my skill */

/* start of my services */

#service{
    text-align: center
}
#service h1{
    font-size:2em;
    margin: 10px;
    padding: 10px;

}

.services-container{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}

.services-container .services{
    margin: 10px;
    padding: 10px;
    height: 300px;
    background-color: rgba(141, 130, 130, 0.13);
    box-shadow: 2px 2px 2px 2px black;   
    transition: all 0.3s; 

}
 .services:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.consulting{
    background-image: url(/image/people-office-group-team.jpg);
    background-position: center;
    background-size: cover;
}

    /* .cloud-computing{
        background-image: url(/image/cloud-computing.png);
        background-position: center;
        background-size: cover;
    } */

/* end of services section */

/*start of blog section */

#myblog-section{
    padding: 10px;
    margin: 10px;
}
#myblog-section h1{
    font-size: 2em;
    text-align: center;
} 
.post-container{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    transition: all 0.3s;
}
.post{
    margin: 10px;
    padding: 10px;
    background-color: rgba(129, 120, 120, 0.2);
}
.post-image img{
    width: 100%;
}
.post:hover{
    background-color: rgba(0,0,0,0.2);
}

.post-title{
    font-size: 1em;
    margin: 5px;
    padding: 5px;
}
.post-desc{
    margin: 5px;
    padding: 5px;
}
.post-read-more{
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}
.post-read-more a{
    text-decoration: none;
    font-size: 1em;
    color: aqua;
}
.post-read-more:hover{
    background-color: rgba(0,0,0,0.2);
}
/* end of blog section */

/* start of client section */

#client-say{
    margin: 10px;
    padding: 10px;

}
#client-say h1{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}
.client-container{
    display: flex;
    justify-content: center;
}

.client{
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}
.client span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: oblique;
}
.client-info{
    margin: 10px;
    display: flex;
    justify-content:flex-end;
    /* background-color: whitesmoke;   */
}
.client-name{
    margin-top: 18px;
    margin-right: 10px;

}

/* end of client sectioon */

/* start of contact me */

#contact-me{
    margin:10px;
    padding: 10px;
    display: inline-block;
}
#contact-me h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 2em;
}

#contact-me .contact{
    display: flex;
    justify-content: baseline;
}
.form-container{
    width: 35%;
}
.form-container form{
    /* width: 50%; */
    margin: 0px auto;
    transition: all 0.3s;
}

.form-container form input{
    margin: 12px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}
.form-container form label{
    padding: 10px;
    margin: 15px;
}
.form-container textarea{
    padding: 10px;
    margin: 10px;
    width: 100%;
    border-radius: 4px;
}

.form-container form button[type=submit]{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: gray;
    border: none;
    border-radius: 4px;
    width: 15%;

}
form input[type=text]:hover,form textarea:hover{
    background-color: rgba(0,0,0,0.1);   

}
.form-container form button[type=submit]:hover{
    background-color: rgba(0,0,0,0.6);   
}

.my-contact-info{
    width: 60%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    /* background-color: red; */
    font-size: 2rem;
}

/* social links */
.social-links{
    margin: 10px;
}
.social-links a{
    padding: 10px;
}
/* mobile responsive design added */
@media screen and (max-width:850px){

    .intro-container{
        top: 150px;
        width: 50%;
        margin: 0px auto;
    }
    .intro-text h1{
        font-size:2em;
    }
    .my-works-container{
        flex-wrap: wrap;
    }

    .skill-container, .services-container,.post-container,.client-container,.contact, .aboutme-container{
        flex-wrap: wrap;
        flex-grow: 0.4;
    }
    .my-contact-info{
        display: none;
    }
    .form-container{
        width: 100%;
    }
    #about-me{
        height: 100vh   ;
    }
}   